<%= form_for @ticket, class: "form-horizontal" do |f| %>
<div class="container-fluid">
  
  <div class="row">
		<div class="col-md-12">
		  <div class="form-group">
      	<%= f.label :title, class: "col-sm-2 control-label" %>	
      	<%= f.text_field :title, class: "form-control" %>	
      </div>
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-4">
		  <div class="form-group">
      	<%= f.label :start_date, class: "col-sm-2 control-label" %>	
  	    <%= f.date_field :start_date, class: "form-control", readonly: true %>	
      </div>
		</div>
		<div class="col-md-4">
		  <div class="form-group">
		    <%= f.label :due_date, class: "col-sm-2 control-label" %>
		    <% if @ticket.new_record? %>
      	  <%= f.date_field :due_date, class: "form-control" %>
      	<% else %>
      	  <%= f.date_field :due_date, class: "form-control", readonly: true %>
  	    <% end %>		
      </div>
		</div>
		<div class="col-md-4">
		  <div class="form-group">
      	<%= f.label :complete_date, class: "col-sm-2 control-label" %>	
  	    <%= f.date_field :complete_date, class: "form-control", readonly: true %>	
      </div>
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-12">
		  <div class="form-group">
      	<%= f.label :priority, class: "col-sm-2 control-label" %>	
      	<%= f.select :priority, ['Critical', 'High', 'Moderate', 'Low', 'Trivial']%>
      </div>
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-12">
		  <div class="form-group">
      	<%= f.label :state, class: "col-sm-2 control-label" %>	
      	<% if @ticket.new_record? %>
          <%= f.hidden_field :state, value: 'Submitted' %>
          <i>New</i>
        <% else %>
          <%= state_label @ticket.state %>
        <% end %>
      </div>
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-6">
		  <div class="form-group">
		    <b>Submitted by: </b><br />will implement soon
      	<%#= f.label :priority, class: "col-sm-2 control-label" %>	
      	<%#= f.select :priority, ['Critical', 'High', 'Moderate', 'Low', 'Trivial']%>
      </div>
		</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <b>Assigned to: </b><br />will implement soon
      	<%#= f.label :priority, class: "col-sm-2 control-label" %>	
      	<%#= f.select :priority, ['Critical', 'High', 'Moderate', 'Low', 'Trivial']%>
      </div>
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-12">
      <div class="form-group">
      	<%= f.label :details, class: "col-sm-2 control-label" %>	
      	<%= f.text_area :details, class: "form-control", rows: "10" %>	
      </div>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-md-12">
  	  <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  
</div>


<% end %>

