<tr class = "<%= ticket.row_class_warning(ticket.due_date, ticket.state) %>">
	<td>
		<%= ticket.id %>
	</td>
	<td>
		<%= ticket.title %>
	</td>
	<td>
	  <%= ticket.owner_name(ticket.user_id) %>
	</td>
	<td>
		<%= ticket.state %>
	</td>
	<td>
		<%= priority_label ticket.priority %>
	</td>
	<td>
		<%= ticket.due_date %>
	</td>
	<td>
		<%= ticket.complete_date %>
	</td>
	<td>
		<%= link_to 'View', ticket_path(ticket), id: "view_#{ticket.id}", class: 'btn btn-xs btn-default' %>
	</td>
	<td>
		<%= link_to 'Edit', edit_ticket_path(ticket), id: "edit_#{ticket.id}", class: 'btn btn-xs btn-default' %>
	</td>
	<td>
		<%= link_to 'Delete', ticket_path(ticket), method: :delete, class: 'btn btn-xs btn-default', id: "delete_#{ticket.id}", data: { confirm: 'Are you sure?' } %>
	</td>
</tr>