<div class='container-fluid'>
	<div class='pending-homepage row'>
		<h2>Scrum Dashboard</h2>
		<hr>
		<div class='container-fluid'>
	    <div class='pending-homepage row'>
	      <div class='homepage-block col-md-4'>
	        <h3>To Do:</h3>
	        
	        <div class="scrum-to-do">
	        	<table class="table table-hover">
				    	<thead>
				    		<%= render 'scrum_heading' %>
				    	</thead>
				    	<tbody>
				    	  <%= render partial: 'scrum', locals: { tickets: @in_todo } %>
					    </tbody>
				    </table>
	        	<%= link_to 'More', tickets_path, class: 'btn btn-primary' %>
          </div>
	        
	       </div>
	       <div class='homepage-block col-md-4'>
	        <h3>Doing:</h3>
	        
	        <div class="scrum-doing">
            <table class="table table-hover">
				    	<thead>
				    		<%= render 'scrum_heading' %>
				    	</thead>
				    	<tbody>
				    	  <%= render partial: 'scrum', locals: { tickets: @in_doing } %>
					    </tbody>
				    </table>
	        	<%= link_to 'More', tickets_path, class: 'btn btn-primary' %>
          </div>
	        
	       </div>
	       <div class='homepage-block col-md-4'>
	        <h3>Done:</h3>
	        
	        <div class="scrum-complete">
            <table class="table table-hover">
				    	<thead>
				    		<%= render 'scrum_heading' %>
				    	</thead>
				    	<tbody>
				    	  <%= render partial: 'scrum', locals: { tickets: @in_complete } %>
					    </tbody>
				    </table>
	        	<%= link_to 'More', tickets_path, class: 'btn btn-primary' %>
          </div>
	        
	       </div>
		  </div>
		</div>
	</div>

	<div class='pending-homepage row'>
		<h2>Overdue</h2>
		<hr>
		<table class="table table-hover">
    	<thead>
    		<tr>
    			<th>
    				#
    			</th>
    			<th>
    				Title
    			</th>
    			<th>
    			  Owner
    			</th>
    			<th>
    				State
    			</th>
    			<th>
    				Priority
    			</th>
    			<th>
    				Due Date
    			</th>
    			<th>
    				Date Completed
    			</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	  <%= render partial: 'overdue', locals: { overdue: @overdue_tickets } %>
	    </tbody>
    </table>

		<div class='clearfix'></div>

		<hr>

	</div>
	
	<div class='pending-homepage row'>
		<h2>Approaching Deadline</h2>
		<hr>
		
		<table class="table table-hover">
    	<thead>
    		<tr>
    			<th>
    				#
    			</th>
    			<th>
    				Title
    			</th>
    			<th>
    			  Owner
    			</th>
    			<th>
    				State
    			</th>
    			<th>
    				Priority
    			</th>
    			<th>
    				Due Date
    			</th>
    			<th>
    				Date Completed
    			</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	  <%= render partial: 'close_to_due_date', locals: { close_to_due_date: @close_to_due_date } %>
	    </tbody>
    </table>
		

		<div class='clearfix'></div>

		<hr>

		<%= link_to 'View All Tickets', tickets_path, class: 'btn btn-primary' %>
	</div>
	
</div>
<p>&nbsp;</p>